<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учебные материалы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basikPages/EducationMaterials.css' %}" />
</head>
<body>

<header>
    <h1>Учебные материалы</h1>
</header>

<div class="container">

    {% for subject, materials in grouped_materials.items %}
    <div class="subject">
        <h2>{{ subject }}</h2>
        <div class="material">
            {% for material in materials %}
            <p>{{ material }}</p>
            <p><a href="{{ material.material_source }}">{{ material.topic_name }}</a></p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <!-- Кнопка для добавления учебных материалов -->
    <a href="добавить_материалы.html" class="add-material-btn">Добавить учебные материалы</a>
</div>

<footer>
    <p>&copy; 2025 Учебные материалы. Все права защищены.</p>
</footer>

</body>
</html>
