<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basikPages/studentPage.css' %}" />
    <title>Личный кабинет</title>
</head>
<body>
    <div class="container">
        <h1>Личный кабинет</h1>
        <a href="{% url 'education_materials' %}" class="button">Посмотреть учебные материалы</a>
        <a href="{% url 'list_of_teachers' %}" class="button">Посмотреть преподавателей</a>
        <a href="{% url 'page_for_change_name' %}" class="button">Поменять свои данные</a>
        <a href="#" class="button delete">Удалить аккаунт</a>

    </div>
</body>
</html>
