{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{% static 'css/basikPages/studentPage.css' %}">
</head>
<body>
    <div class="container">
        <h1>Личный кабинет</h1>
        <a href="#" class="button">Посмотреть учебные материалы</a>
        <a href="#" class="button">Посмотреть преподавателей</a>
        <a href="#" class="button">Поменять свои данные</a>
        <a href="#" class="button delete">Удалить аккаунт</a>
    </div>
</body>
</html>
