<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет преподавателя</title>
    <link rel="stylesheet" href="styles.css"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basikPages/teacherPage.css' %}" />
</head>
        <!-- Кнопки для действий -->
        <a href="{% url 'education_materials' %}" class="button">Добавить учебные материалы</a>
        <a href="{% url 'list_of_teachers' %}" class="button">Посмотреть преподавателей</a>
        <a href="{% url 'list_of_students' %}" class="button">Посмотреть студентов</a>
        <a href="{% url 'page_for_change_name' %}" class="button">Поменять личную информацию</a>
        <a href="#" class="button delete">Удалить аккаунт</a>
    </div>
</body>
</html>
