       body {
            font-family: Arial, sans-serif;
            background-color: #000000;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 60px rgba(112, 224, 20, 0.7); 
            position: relative;
        }
        h1 {
            color: #ffffff;
        }
        .subject {
            margin-bottom: 20px;
        }
        .subject h2 {
            color: #4CAF50;
            margin-bottom: 10px;
        }
        .material {
            margin-left: 20px;
        }
        .material a {
            color: #1a73e8;
            text-decoration: none;
        }
        .material a:hover {
            text-decoration: underline;
        }
        .add-material-btn {
            display: inline-block;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            text-align: center;
            cursor: pointer;
        }
        .add-material-btn:hover {
            background-color: #45a049;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
        }
