body {
  background-image: url("{% static 'images/photo.png' %}"); /* Путь к изображению через static */
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #74186e96;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wavy-text {
  font-size: 48px; /* Размер текста */
  font-weight: bold; /* Жирный шрифт */
  color: #74186e96; /* Цвет текста */
  position: relative;
  display: inline-block;
}

.wavy-text::before {
  content: attr(data-text); /* Используем атрибут data-text для дублирования текста */
  position: absolute;
  top: 0;
  left: 0;
  color: transparent; /* Прозрачный цвет текста */
  text-shadow: 
      2px 2px 0 #71cf594b, /* Первая тень */
      -2px -2px 0 #000000f3, /* Вторая тень */
      4px 4px 0 #000000f1, /* Третья тень */
      -4px -4px 0 #ea19ea; /* Четвертая тень */
  z-index: -1; /* Помещаем тени за основной текст */
  animation: wave 2s infinite alternate; /* Анимация для эффекта волнистости */
}

@keyframes wave {
  0% {
      transform: translateY(0); /* Начальное положение */
  }
  100% {
      transform: translateY(10px); /* Конечное положение */
  }
}

header h1 {
  margin: 0 0 0.5rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Выравниваем элементы по левому краю */
  gap: 105rem; /* Расстояние между элементами */
  margin: 0;
  padding: 0;
}

nav a {
  color: #bb13d1;
  text-decoration: none;
  font-size: 1.9rem; /* Увеличиваем размер текста */
  padding: 1.75rem 2.5rem; /* Увеличиваем внутренние отступы */
  border-radius: 5px; /* Закруглённые углы */
  transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

nav a:hover {
  background-color: rgba(187, 17, 209, 0.252); /* Лёгкий фон при наведении */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 5rem;
}

footer {
  color: #75D113;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

table, th, td {
  border: 1px solid #75D113;
}

th, td {
  padding: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
}

.btn-primary {
  color: #75D113;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #000000;
}
